node_modules/
public/fonts
public/fonts/fontawesome-webfont.eot
public/fonts/fontawesome-webfont.svg
public/fonts/fontawesome-webfont.ttf
public/fonts/fontawesome-webfont.woff
public/fonts/fontawesome-webfont.woff2
public/fonts/FontAwesome.otf
